{% extends 'base.html' %}


{% block content %}

<!-- Main Content -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">COVID-19 Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <!--Navs at the top -->
        <button href="/graph1" type="button" id="graph1_button" class="btn btn-sm btn-outline-secondary">Graph 1</button>
        <button href="/graph2" type="button" id="graph2_button" class="btn btn-sm btn-outline-secondary">Graph 2</button>
        <button href="/graph3" type="button" id="graph3_button" class="btn btn-sm btn-outline-secondary">Graph 3</button>
        <button href="/graph4" type="button" id="graph4_button" class="btn btn-sm btn-outline-secondary">Graph 4</button>
        <button href="/graph5" type="button" id="graph5_button" class="btn btn-sm btn-outline-secondary">Graph 5</button>
      </div>
    </div>
  </div>
  <div class="row">
    <style>
      .graph1 {
        display: display;
      }

      .graph2 {
        display: none;
      }

      .graph2_extra {
        display: none;
      }

      .graph3 {
        display: none;
      }

      .graph3_extra {
        display: none;
      }

      .graph4 {
        display: none;
      }

      .graph5 {
        display: none;
      }
    </style>

    <div id='graph1' class="graph1">
      {% if graph1 %}
      {{ graph1|safe }}
      {% else %}
      <p>Graph 1 was not provided.</p>
      {% endif %}
    </div>

    <div id='graph2' class="graph2">
      {% if graph2 %}
      {{ graph2|safe }}
      {% else %}
      <p>Graph 2 was not provided.</p>
      {% endif %}
    </div>

    <div id='graph2_extra' class="graph2_extra">
      {% if graph2_extra %}
      {{ graph2_extra|safe }}
      {% else %}
      <p>Graph 2_(extra) was not provided.</p>
      {% endif %}
    </div>

    <div id='graph3' class="graph3">
      {% if graph3 %}
      {{ graph3|safe }}
      {% else %}
      <p>Graph 3 was not provided.</p>
      {% endif %}
    </div>

    <div id='graph3_extra' class="graph3_extra">
      {% if graph3_extra %}
      {{ graph3_extra|safe }}
      {% else %}
      <p>Graph 3 extra was not provided.</p>
      {% endif %}
    </div>

    <div id='graph4' class="graph4">
      {% if graph4 %}
      {{ graph4|safe }}
      {% else %}
      <p>Graph 4 was not provided.</p>
      {% endif %}
    </div>

      <div id='graph5' class="graph5">
        {% if graph5 %}
        {{ graph5|safe }}
        {% else %}
        <p>Graph 5 was not provided.</p>
        {% endif %}
      </div>

      <script type="text/javascript">
        $(document).ready(function() {
          var hideAllButOne = function(identifier) {
            $('#graph1').hide();
            $('#graph2').hide();
            $('#graph2_extra').hide();
            $('#graph3').hide();
            $('#graph3_extra').hide();
            $('#graph4').hide();
            $('#graph5').hide();
            $(identifier).show();
          };
          $('#graph1_button').click(() => hideAllButOne("#graph1"));
          $('#graph4_button').click(() => hideAllButOne("#graph4"));
          $('#graph5_button').click(() => hideAllButOne("#graph5"));
        });
        $('#graph2_button').on('click', function() {
          $('#graph1').hide();
          $('#graph2').show();
          $('#graph2_extra').show();
          $('#graph3').hide();
          $('#graph3_extra').hide();
          $('#graph4').hide();
          $('#graph5').hide();
        });

        $('#graph3_button').on('click', function() {
          $('#graph1').hide();
          $('#graph2').hide();
          $('#graph2_extra').hide();
          $('#graph3').show();
          $('#graph3_extra').show();
          $('#graph4').hide();
          $('#graph5').hide();
        });
      </script>

      {% endblock %}
