
{% extends 'base.html' %}


{% block content %}

  <!-- Main Content -->
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
        </div>
      </div>
    </div>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Hi, I am Karina!</h1>
            <p class="lead text-muted">A student currently enrolled in Master in Science in Data Science. I wish to abide in my passion for the community by creating, evolving, maintaining, and ultimately revealing meaningful insights that support and validate relevant, data-driven change. To satisfy my curiosity and challenge myself by using my multidisciplinary background to implement scalable, statistical analysis, and beautiful visual assessments. </p>
            <p>
              <a class="btn btn-primary my-2">Assignment for Programming for Data Scientists</a>
            </p>

          </div>
        </div>
      </section>

</main>

{% endblock %}
